.birthday-card-container {
    position: fixed; /* Hoặc absolute nếu cần */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2); /* Tạo lớp mờ nhẹ */
    backdrop-filter: blur(2px); /* Làm mờ nền */
    perspective: 1200px; /* Tăng perspective để có chiều sâu hơn */

  }
.birthday-card {
    position: relative;
    width: 300px;
    height: 395px;
    border: 10px solid #ef5050;
    -webkit-box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 10px 0px 15px 0px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.5))), url("https://images.unsplash.com/photo-1527481138388-31827a7c94d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxBT3o0SFFDbVdEa3x8ZW58MHx8fHw%3D&w=1000&q=80");
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1527481138388-31827a7c94d5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXxBT3o0SFFDbVdEa3x8ZW58MHx8fHw%3D&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform-style: preserve-3d;

}

.birthday-card .cover-outer,
.birthday-card .cover-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #ef5050;
    transform-origin: left center;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
}

.birthday-card .text {
    width: 80%;
    height: 80%;
    margin: auto;
    font-family: 'Nobile', sans-serif;
}

.birthday-card .text>p {
    font-size: 1.1em;
    color: #331717;
    list-style: 1.4;
    font-style: italic;
    text-align: center;
    margin: 30px auto 0 auto;
}

.birthday-card .text .title {
    font-size: 1.5em;
    margin: 60px auto 60px auto;
}

.birthday-card .cover-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0 0 -10px;
    border: 10px solid #ef5050;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: perspective(1200px) rotateY(0deg);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    transform: perspective(1200px) rotateY(0deg);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.birthday-card .cover-outer img {
    -webkit-box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 6px 11px 7px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.birthday-card .cover-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #ef5050;
    background-color: #ef5050;
    margin: -10px 0px 0 -10px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transform: perspective(800px) rotateY(0deg);
    transform: perspective(800px) rotateY(0deg);
    -webkit-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
    overflow: hidden;
}

.birthday-card .cover-inner img {
    -webkit-transform: rotateY(170deg);
    transform: rotateY(170deg);
}

.birthday-card:hover .cover-outer {
    -webkit-transform: perspective(800px) rotateY(-170deg);
    transform: perspective(800px) rotateY(-170deg);
}

.birthday-card:hover .cover-inner {
    -webkit-transform: perspective(800px) rotateY(-170deg);
    transform: perspective(800px) rotateY(-170deg);
    -webkit-box-shadow: 7px 0 5px 0 rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 0 5px 0 rgba(0, 0, 0, 0.3), inset 2px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.birthday-card .cover-inner {
    background: #ef5050;
    transform: perspective(1200px) rotateY(0deg);
    box-shadow: inset 2px 0px 15px rgba(0, 0, 0, 0.1);
}

.birthday-card:hover .cover-outer {
    transform: perspective(1200px) rotateY(-170deg);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
}

.birthday-card:hover .cover-inner {
    transform: perspective(1200px) rotateY(-160deg);
}